header {
  grid-area: hd;
  background-color: #ffa700;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  line-height: 10px;
  padding-left: 10px;
}

#title {
  display: flex;
  text-align: center;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4em;
  font-weight: 700;
  text-transform: uppercase;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1px;
}

nav li {
  list-style-type: none;
  padding-left: 10px;
}

nav li > a:hover {
  color: #ffa700;
  background-color: #00000a;
  border: 1px solid #00000a;
}
